input{
   
   width: 800px;
   height: 40px;
   color: black;
   border: solid 3px;
   border-color: black;
   
   border-bottom-color: white;
  }
  mat-form-field {
    margin-right: 12px;
  }
body{
  text-align: center;
}