.zx{
    margin-left: 200px;
    margin-top: 0px;
    text-align:center;
    font-size: 20px;
    color: black;
    background-color: #2355b9;
    max-width: 900px;
 
    
}
input{
    margin-left: 50px;
    margin-right: 50px;
   font-size: 20px;
   width: 500px;
   text-align: center;
   color: black;
   height: 40px;
}
span{
    color: red;
    
}
.example-card{
  font-size: 18px; 
  background-color: #2355b9;
  

}
.mat-card-actions{
    margin-left: 0px;
   
}
